section {
    padding : 20px;
}
.hr-css{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    background-color: black;
}

.centering{
    text-align: center;
}

/* .status-sec{
    border: 3px solid black;
} */

.message-sec{
    border: 3px solid black;
    border-radius: 25px;
}

.boxx{
    color: black;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    font-size: 50px;
    margin-top: 30px;
}

