{% load static %}
{% include 'includes/base.html' %}
<section>
    <div class=container>
        <div class="centering pt-5">
            <h1>Konfirmasi</h1>
        </div>
        <div class="boxx">
            <div>
                <p>Apakah anda bernama <b>{{ nama }}</b> akan mengirimkan pesan "{{ pesan }}"</p>
            </div>
            <div class="d-flex justify-content-center">
                <form action="/" method="POST">
                   {% csrf_token %}
                   <input type="hidden" name="nama" value="{{ nama }}">
                   <input type="hidden" name="pesan" value="{{ pesan }}">
                   <input type="submit" name="iya" value="Ya">
                </form>

                <form action="/" method="GET">
                    <input type="submit" name="ngga" value="Tidak">
                </form>
            </div>
        </div>
    </div>
</section>
</html>