{% load static %}
{% include 'includes/base.html' %}
<section>
    <div class="container">
        <div class="centering pt-5">
            <hr class="hr-css">
            <h1>Selamat Datang di StatusMu</h1>
            <h4><i>Kirim statusmu hari ini!</i></h4>
            <hr class="hr-css">
        </div>
        <div class="">
            <form action="confirmation/" method="POST" validate>
                {% csrf_token %}    
                {{ form }}
                <div class="d-flex flex justify-content-center">
                    <button type="submit" name="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>

        <div class="pt-5 pb-5">
            <h1>Status Terkini:</h1>
        </div>

        <div class="">
            {% for elemen in list %}
            <div class="boxx p-5" style="background-color: {{ elemen.color }};">
                <div class="centering">
                    <h2><u>{{ elemen.nama }}</u></h2>
                </div>
                <div class="pesan">
                    <p>"<i>{{ elemen.pesan }}</i>"</p>
                </div>
                <form action="{{ elemen.id }}/" method="POST">
                    {% csrf_token %}
                    <button name="submits" type="submit">Ganti Warna gayn</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>    
</section>
